/* test */

ul.menu li a, #menu-container header .content, #menu-container header .search {
    border-bottom: 1px solid #b4b4b4;
    color: #5b5b5b;
    display: block;
    font-variant: small-caps;
    font-size: large;
    font-weight: 600;
    line-height: 1.618em;
    overflow: hidden;
    padding: 0.809em 1.27em 0.404em 1.618em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#reading-container article {
    background-color: #fff;
    box-shadow: 1px 2px 0 0 #656565;
    font-family: "Palatino","Palatino Linotype","Georgia","Serif";
    margin: 0 auto 3em;
    max-width: 65%;
    padding: 0.404em 2.617em 1.2em;
}

/* original content */

#menu-container  .logo {
    width: auto;
}
.pb {
  font-weight: normal;
  font-size: 1em;
  display: inline;
  font-style: normal;
  color: blue;
}

.ex,
.supplied,
.unclear {
  color: rgb(25,100,100);
}

.unclear {
  text-decoration: underline dotted;
}

.lang_heb, .lang_ara, .lang_far {
  text-align:right;
}

.note > .note-content {
  display:none;
}
.note:hover > .note-content {
  display:inline;
  font-style: italic;
  color:grey;
}

ol > li {
  display: list-item;
  list-style: none;
}

ol > li {
  display: list-item;
}

ol > li:nth-child(5n) {
  list-style: decimal;
}
ol > li:nth-child(1) {
  list-style: decimal;
}
ol > li:hover {
  list-style: decimal;
}

#reading-container article {
  width:90%;
}
#treebank_container {
  height:600px;
}
span[token-selector="state.tokens"] {
  display:none;
}
