body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    text-rendering: optimizelegibility;
}
#reading-container, #menu-container {
    min-height: 100%;
}
#reading-container {
    background-color: white;
}
/*.logo-container {
    margin: 0 -15px;
    width: 50px;
}*/
#menu-container .logo {
    width: auto;
}
#menu-container header.first {
    margin-top: 4em;
}
ul.menu {
    font-size: 11px;
    list-style: outside none none;
    margin: 0 -15px 0;
    max-height: 20em;
    overflow: auto;
    padding: 0;
}
ul.menu.no-max {
    max-height: none;
}
ul.menu li a, #menu-container header .content, #menu-container header .search {
    border-bottom: 1px solid white;
    color: #5b5b5b;
    display: block;
    /*font-variant: small-caps;*/
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 300;
    line-height: 1.618em;
    overflow: hidden;
    padding: 0.809em 0em 0.404em 1.618em;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    font-family: "Lato",Sans-Serif;
}
#menu-container header .content {
    border-top: 1px solid white;
    color: grey;
    font-size: 1.2em;
    font-weight: 500;
    font-family: "Lato",Sans-Serif;
}
#menu-container header {
    font-size: 10pt;
    margin: 2em -1.5em 0;
    position: relative;
}
#menu-container header .search {
    display: none;
}
#menu-container header:hover .search {
    background-color: white;
    border-color: #b4b4b4;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    display: block;
    height: 100%;
    left: 100%;
    margin-bottom: -1px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
#menu-container header .search input {
    background-color: inherit;
    border: medium none;
    height: 100%;
    margin: 0;
    width: 100%;
}
#menu-container header .icon {
    position: absolute;
    right: 1em;
    top: 0.809em;
}
ul.menu li a.active {
    border-right: 3px solid #7437bc;
}
#reading-container article {
    background-color: #fff;
    box-shadow: 1px 2px 0 0 #fff;
    font-family: "Gentium Plus","Lato","Palatino","Palatino Linotype","Georgia","Serif";
    font-size: 125%;
    margin: auto auto 3em;
    max-width: 65%;
    padding: 0.404em 2.617em 1.2em;
}
#reading-container article.reffs {
    max-width: 90%;
}
#reading-container h2 {
    font-size: 1.4em;
}
#reading-container h1 {
    font-size: 1.4em;
    margin: 1em 0 1em;
}
#reading-container article header, #reading-container article section, #reading-container article body {
    font-size: 1.2em;
    line-height: 1.618em;
}
#reading-container article.nav {
    background-color: inherit;
    box-shadow: none;
    font-size: 0.9em;
    text-align: left;
}
#reading-container article section {
    margin: 1em 0 1em;
}
#reading-container article section ol {
    margin: 1em 0 1em;
}
#reading-container article section nav {
    /*text-align: right;*/
    /*font-size: 0.8em;*/
}
#reading-container article section nav > div {
    background-color: white;
    box-shadow: 1px 2px 0 0 #656565;
    display: inline-block;
    height: 2.4em;
    line-height: 2em;
    margin: 0.5% 1%;
    overflow: hidden;
    padding: 0.2em 0.5em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30%;
}
ul.reffs {
    list-style: outside none none;
}
ul.reffs > li {
    background-color: white;
    box-shadow: 1px 2px 0 0 #656565;
    display: inline-block;
    height: 2.4em;
    line-height: 2em;
    margin: 3px;
    overflow: hidden;
    padding: 0.2em 0.5em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#breadcrumb {
    /*border-bottom: 0px solid #d5d8da*/
    font-size: 0.8em;
    font-weight: 400;
    margin: 0 -15px 3em;
    padding: 1em 200px;
    text-transform: uppercase;
}
#breadcrumb ol{
    background-color: #f0f0f0;
}

.reference {
    font-weight: normal;
}
.ctsurn {
    font-size: smaller;
    text-align: right;
}
.textlist h2 {
    font-size: 1.1em !important;
    margin: 0 !important;
    padding: 0 !important;
}


/* original content */

#menu-container .logo {
    width: auto;
}
.pb {
  font-weight: normal;
  font-size: 1em;
  display: inline;
  font-style: normal;
  color: blue;
}

.ex,
.supplied,
.unclear {
  color: rgb(25,100,100);
}

.unclear {
  text-decoration: underline dotted;
}

.lang_heb, .lang_ara, .lang_far {
  text-align:right;
}

.note > .note-content {
  display:none;
}
.note:hover > .note-content {
  display:inline;
  font-style: italic;
  color:grey;
}

ol > li {
  display: list-item;
  list-style: none;
}

ol > li {
  display: list-item;
}

ol > li:nth-child(5n) {
  list-style: decimal;
}
ol > li:nth-child(1) {
  list-style: decimal;
}
ol > li:hover {
  list-style: decimal;
}

#reading-container article {
  width:90%;
}
#treebank_container {
  height:600px;
}
span[token-selector="state.tokens"] {
  display:none;
}
